<!-- <p *ngIf="workCenter">{{workCenter['Code']}}</p> -->
<div class="order">
  <mat-form-field class="example-full-width" appearance="outline" class="input">
    <mat-label>Bauteilnummer</mat-label>
    <input matInput placeholder="insert ItemCode" [(ngModel)]="itemCode">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="loadData()" class="input">LoadData</button>
  <div *ngIf="productionOrder">
    <div>BauteilId: {{productionOrder.Code}} </div>
    <div>PlanDatum: {{productionOrder.DesiredStartDate | date : "dd MMM yyyy"}} </div>
  </div>
</div>
<div *ngIf="productionOrder" class="steps">
  <div *ngFor="let prodStep of productionOrder.ProductionSteps">
    <app-production-step [step]="prodStep" (feedback)="onFeedback($event)"></app-production-step>
  </div>
</div>

