
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="unsermenu" >
     <mat-icon>menu</mat-icon>
   </button>
   <mat-menu #unsermenu="matMenu">
    <button mat-menu-item routerLink="Home">Home</button>
    <button mat-menu-item routerLink="Order">Auftrag</button>
  </mat-menu>
   <span>{{title}}</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>


<router-outlet></router-outlet>
