.example-spacer {
  flex: 1 1 auto;
}

:host{
  display: grid;

  grid-template:
    " header header " auto
    " main1   main2  " 1fr
    " footer footer " auto
    / 2fr    1fr
  ;

  height: 100vh;
}

.head{
  grid-area: header;
}

.main{
  grid-area: main1;
  overflow: auto;
}

.test{
  grid-area: main2;
  background-color: blue;
}

.foot{
  grid-area: footer;
}
